.colour {color:#C13136; }
 
a {color: #000000;}
a:hover {color:#C13136;}

::selection { background:#C13136; color: #fff; }
::-moz-selection { background:#C13136; color: #fff; }

blockquote { border-left:4px solid #000000!important;  }

.btn { background-color: #C13136!important; }
.btn-inverse:hover { background-color: #C13136!important;}

#menu li a:hover,  #menu  a:focus { color:#C13136!important; background-color:transparent; }

#contact { color:#f0f0f0!important; background:#C13136!important;}
#contact .lead, #contact h1 {color:#f0f0f0!important; }

.footer a { color: #C13136!important;  }
.footer a:hover { color: #999!important; }

/**** CIRCLE LINK ****/
.circle { background: #C13136!important; }
.circle:hover {  background:#C13136!important; }

/*  ---------------------------------------------------------------
  	SERVICE ICONS
    --------------------------------------------------------------- */
.service { background:#C13136!important; }

/*  ---------------------------------------------------------------
  	PROGRESS BARS/SKILL BARS
    --------------------------------------------------------------- */
.bars-wrapper .progress-bar { background:#000000!important; }

/*  ---------------------------------------------------------------
  	TEAM ICONS
    --------------------------------------------------------------- */
.hi-icon2 { color: #000000!important; }
.hi-icon-effect-a .hi-icon2 { box-shadow: 0 0 0 3px #000000!important; }
.no-touch .hi-icon-effect-a1 .hi-icon2:hover { color:#000000!important;}
.hi-icon-effect-a .hi-icon2:after { background:#C13136!important; color:#000000!important; }

/*  ---------------------------------------------------------------
   	HOVER CAPTIONS ( TEAM - VIEW PROFILE + WORK - VIEW BUTTONS 
    --------------------------------------------------------------- */
.cbp-l-caption-buttonLeft:hover, .cbp-l-caption-buttonRight:hover {
    color: #fff!important;
	background-color: #C13136!important;
}

/*  ---------------------------------------------------------------
  PORTFOLIO FILTERS
    --------------------------------------------------------------- */
.cbp-l-filters-button .cbp-filter-item-active { background-color:#000000!important;  color: #fff !important; }
.cbp-l-filters-button .cbp-filter-counter { background-color: #000000!important; color: #fff!important; }
.cbp-l-filters-button .cbp-filter-counter:before { border-top: 4px solid #000000!important;}

.nav-tabs .active a, .nav-tabs a:hover, .nav-tabs .active  a:focus { background-color:#C13136!important;}





